.about-me{
    padding: 10px;

    .content{
        margin-right: 20px;

        p{
            font-weight: normal;
            font-size: $text-font-size;
            line-height: 35px;
        }
    }
}