body{
    font-family: $font-family;
    background-color: $main-background-color;
    background: url('../img/BG.png') no-repeat; 
    background-size: 100%;
    background-position: center center;
    height: 100vh !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    display: flex;
}

.container{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    position: relative;
}

.mt-15{
    margin-top: 15px !important;
}

.mb-15{
    margin-bottom: 15px !important;
}

.f-wrap{
    flex-wrap: wrap;
}

.jc-between{
    justify-content: space-between;
}